<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="B1WebService.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <appSettings>
    
     <!--NKI--><!-- Config Here  -->
    <add key="DbServerType" value="HANADB"/>
    <add key="Server" value="HANANETSYS:30115"/>
    <add key="LicenseServer" value="192.168.10.109:40000"/>
    <add key="DbUserName" value="SYSTEM"/>
    <add key="DbPassword" value="SAPB1Admin"/>
    <add key="CompanyDB" value="CAPTAINHOOK_PRD"/>
    <add key="UserName" value="manager"/>
    <add key="Password" value="1234"/>
    
    <!--  -->
    <!--NSC--><!--
    <add key="DbServerType" value="HANADB"/>
    <add key="Server" value="192.168.10.109:30115"/>
    <add key="LicenseServer" value="192.168.10.109:40000"/>
    <add key="DbUserName" value="SYSTEM"/>
    <add key="DbPassword" value="SAPB1Admin"/>
    <add key="CompanyDB" value="NKI_ERP_PRD_DEP_TEST"/>
    <add key="UserName" value="manager2"/>
    <add key="Password" value="Sap1234!"/>-->
    
  </appSettings>
  <system.web>
    <httpRuntime maxRequestLength="2147483647"/>
    <compilation debug="true"/>
  </system.web>
  <system.serviceModel>
    <!--<services>
      <service
        name="Netsys.B1WebService"
        behaviorConfiguration="IB1WebServiceBehavior">
         -->
    <!--use base address provided by host-->
    <!-- 
         -->
    <!--specify BasicHttp binding and a binding configuration to use-->
    <!-- 
        <endpoint address=""
              binding="basicHttpBinding"
              bindingConfiguration="Binding1"
              contract="Netsys.B1WebService.IB1WebService"/>
      </service>
    </services>-->
    <bindings>
      <!-- 
          Following is the expanded configuration section for a BasicHttpBinding.
          Each property is configured with the default value.
          See the TransportSecurity, and MessageSecurity samples in the
          Basic directory to learn how to configure these features.
          -->
      <basicHttpBinding>
        <binding name="Binding1" hostNameComparisonMode="StrongWildcard" receiveTimeout="24:10:00" sendTimeout="24:10:00" openTimeout="24:10:00" closeTimeout="24:10:00" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647" maxBufferPoolSize="2147483647" transferMode="Buffered" messageEncoding="Text" textEncoding="utf-8" bypassProxyOnLocal="false" useDefaultWebProxy="true">
          <security mode="None"/>
        </binding>
      </basicHttpBinding>
    </bindings>
    <!--For debugging purposes set the returnUnknownExceptionsAsFaults attribute to true-->
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>  <!--' ************** false **********'-->
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>
  <system.webServer>

    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*"/>
        <add name="Access-Control-Allow-Headers" value="Origin, X-Requested-With, Content-Type, Accept" />
      </customHeaders>
    </httpProtocol>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="3000000000"/>
      </requestFiltering>
    </security>
    <modules runAllManagedModulesForAllRequests="true"/>
    <directoryBrowse enabled="true"/>
  </system.webServer>
  <applicationSettings>
    <B1WebService.My.MySettings>
      <setting name="SAPB1Connection" serializeAs="String">
        <value>DbServerType=107?122?123?102?84?90?90?88?83?57?55?55?63?;Server=83?76?85?86?93?86?52?91?86?85?;LicenseServer=83?76?85?86?93?86?52?91?86?85?65?58?55?55?55?55?;DbUserName=122?104?;DbPassword=90?72?87?73?56?72?107?116?112?117?;CompanyDB=92?94?74?75?73?;UserName=116?104?117?104?110?108?121?;Password=56?57?58?59?</value>
      </setting>
    </B1WebService.My.MySettings>
  </applicationSettings>
</configuration>